.rec-bg {
  min-height: 100vh;
  background: radial-gradient(circle, #020617, #000);
  color: white;
  text-align: center;
  padding: 40px;
}

.rec-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.rec-info {
  color: #7dd3fc;
  margin-bottom: 30px;
}

.rec-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.rec-card {
  width: 260px;
  background: rgba(255,255,255,0.08);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0,255,255,0.3);
  transition: transform 0.3s;
}

.rec-card:hover {
  transform: scale(1.05);
}

.rec-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid cyan;
  margin-bottom: 10px;
}

.rec-card button {
  margin-top: 15px;
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  background: cyan;
  font-weight: bold;
  cursor: pointer;
}
